{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Minimart Techno</p>
        </div>
    </div>
</header>

<div class="container">
    <div class ="row">
        <center>
            <div class="col-8">
                <br/><br/>
<p align="justify">
    Welcome to Minimart Techno, your premier destination for a curated selection of essential Philippine products. At Minimart Techno, we pride ourselves on offering a unique blend of convenience and quality, bringing you a small-scale grocery experience right to your fingertips.
    <br/><br/>
    Founded with a passion for accessibility and community, Minimart Techno aims to simplify your shopping needs with a carefully selected range of products that cater to your everyday essentials. Whether you're searching for authentic Filipino snacks, household staples, or personal care items, we are dedicated to providing you with a seamless online shopping experience.
    <br/><br/>
    Driven by our commitment to customer satisfaction, we strive to uphold the highest standards of reliability and affordability. Our mission is to make shopping for Philippine products effortless and enjoyable, ensuring that each purchase with Minimart Techno exceeds your expectations.
    <br/><br/>
    Join us in celebrating convenience, quality, and community. Discover the essence of Filipino essentials at Minimart Techno today.
</p>
<br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}