{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Minimart Techno</p>
        </div>
    </div>
</header>

<div class="container">
    <div class ="row">
        <center>
            <div class="col-8">
                <br/><br/>
<p align="justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus sit amet nisi ac congue. Aenean euismod nisi quis mauris tincidunt, euismod finibus lectus finibus. Aenean accumsan pharetra metus, ac luctus orci semper in. Etiam dolor justo, posuere ac diam ut, lacinia volutpat purus. Integer imperdiet rhoncus justo, at porta nulla bibendum quis. Pellentesque rutrum tincidunt varius. Sed ac diam pellentesque, commodo ligula non, rhoncus nunc. Quisque vitae odio nec sem fermentum imperdiet sed id lectus. Mauris eleifend nulla eu efficitur fringilla. Nam sed vestibulum arcu. Fusce maximus elementum metus, vel fringilla erat hendrerit ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    <br/><br/>
    Sed non risus rhoncus, vulputate tortor ut, viverra nibh. Aliquam mauris magna, convallis ut ligula eu, facilisis blandit ex. Suspendisse venenatis feugiat lorem eu dignissim. Nam nibh neque, posuere sed justo vitae, faucibus dignissim felis. Quisque tincidunt mauris dui, vitae elementum urna viverra ut. Maecenas sapien tortor, egestas sed mattis ac, lacinia non massa. Donec ac justo quis mauris ultricies imperdiet nec sed nisl. Duis elit dolor, pharetra non aliquam vel, finibus in leo. Vestibulum elit risus, ornare nec eros et, dignissim ullamcorper lorem. Duis ac viverra elit. Phasellus pulvinar vitae ante sed ultrices. Quisque ac nibh quis mi elementum tempor in sed magna. Aliquam sed neque eu ex placerat molestie ultricies eget dui.
    <br/><br/>
    Nullam sagittis massa at tristique finibus. Sed non enim nibh. Mauris eget faucibus tortor. Vivamus ultricies sem nec pharetra commodo. Integer consectetur, augue nec iaculis feugiat, lorem enim commodo leo, nec mollis velit urna ut dolor. Donec convallis neque risus. Aenean pulvinar sem eget dictum porttitor. Sed et pulvinar augue. Sed ut quam ac est volutpat consequat in at sapien.
</p>
<br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}